.nav{
    border: 5px solid black;
}
.nav ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.outerContainer{
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
}
